{%extends 'base.html'%}

{%block title%}Datos de linea{%endblock title%}

{%block content%}

</style>
  <div class="fdizquierda" align="center">
    <h3>Lista de Lineas</h3>
    {%for lin in lineas%}
    <p><a <a href="{%url 'infraestructura:detailLineaAndlistCelulas' lin.slug_linea%}">{{lin.descripcion}}</a></p>
    {%empty%}
    <p>No existen lineas</p>
    {%endfor%}
    <p><a href="{%url 'infraestructura:listLineas'%}">Regresa</a></p>
  </div>
  <div class="fdderecha">
    <h2>Información de Linea</h2>
      <table style="width:100%">
        <tr>
            <th>Descripcion</th>
            <th>Distribuidor</th> 
            <th>Ancho de Banda total</th>
            <th>Ancho de banda Usado</th>
            <th>Ancho de banda Disponibles</th>
        </tr>
          <tr>
            <td>{{linea.descripcion}}</td>
            <td>{{linea.distribuidor}}</td>
            <td>{{MegasTotal}} Megas</td>
            <td>{{MegasUsados}} Megas</td>
            <td>{{MegasDisponibles}} Megas</td>
          </tr>  
      </table>
       
      <table style="width:100%">
        <tr>
            <th>Nombre</th>
            <th>Ubicacion</th> 
            <th>Ancho de Banda</th>
          </tr>
      <h2>Lista de celulas</h2>
      {%for celula in celulas%}
        <tr>
            <td><p><a href="{{celula.get_absolute_url}}">{{celula.nombre}}</a></p></td>
            <td><p>{{celula.ubicacion}}</p></td>
            <td><p>{{celula.ancho_de_banda}} Megas</p></td>
        </tr>
      {%empty%}
      </table>
      <h2>Vacio</h2>
      {%endfor%}
  </div>
{%endblock content%}